
.depth-canvas {
  --width: 512;
  --height: 424;
  display: block;
  position: fixed;
  left: calc(50vw - var(--width) * 1px / 2);
  top: calc(50vh - var(--height) * 1px / 2);
  width: calc(var(--width) * 1px);
  height: calc(var(--height) * 1px);
}