:host {
	position: relative;
	display: block;
}

path {
	stroke-width: 2px;
	stroke: blue;
	fill: transparent;
}

path.active {
	stroke: red;
}

polygon {
	stroke-width: 2px;
	stroke: blue;
	fill: transparent;
}