<link rel="stylesheet" href="/css/styles.css" type="text/css">

<section class="calendar section">
		<h1>Расписание</h1>
<div class="row">
		<div class="column">
			<div class="calendar--day">
				День недели:
			</div>
			<div class="calendar--time">
				<div class="calendar--on">Вкл:</div>
				<div class="calendar--off">Выкл:</div>
			</div>
		</div>
		<div class="column">
			<div class="calendar--day">
				Пн
			</div>
			<div class="calendar--time">
				<div class="calendar--on"><input type="time" ></div>
				<div class="calendar--off"><input type="time"></div>
			</div>
		</div>
		<div class="column">
			<div class="calendar--day">
				Вт
			</div>
			<div class="calendar--time">
				<div class="calendar--on"><input type="time"></div>
				<div class="calendar--off"><input type="time"></div>
			</div>
		</div>
		<div class="column">
			<div class="calendar--day">
				Ср
			</div>
			<div class="calendar--time">
				<div class="calendar--on"><input type="time"></div>
				<div class="calendar--off"><input type="time"></div>
			</div>
		</div>
		<div class="column">
			<div class="calendar--day">
				Чт
			</div>
			<div class="calendar--time">
				<div class="calendar--on"><input type="time"></div>
				<div class="calendar--off"><input type="time"></div>
			</div>
		</div>
		<div class="column">
			<div class="calendar--day">
				Пт
			</div>
			<div class="calendar--time">
				<div class="calendar--on"><input type="time"></div>
				<div class="calendar--off"><input type="time"></div>
			</div>
		</div>
		<div class="column">
			<div class="calendar--day">
				Сб
			</div>
			<div class="calendar--time">
				<div class="calendar--on"><input type="time"></div>
				<div class="calendar--off"><input type="time"></div>
			</div>
		</div>
		<div class="column">
			<div class="calendar--day">
				Вс
			</div>
			<div class="calendar--time">
				<div class="calendar--on"><input type="time"></div>
				<div class="calendar--off"><input type="time"></div>
			</div>
		</div>
		</div>
	</section>

	<section class="section">
		<h1>Контент</h1>
		<div class="row">
		<div class="column">
			
			<lit-a class="button" href="/svg_editor">Mapping</lit-a>
			<lit-a class="button" href="/kinect_editor">Kinect</lit-a>
			<lit-a class="button" href="/slides">Slides</lit-a>
			<lit-a class="button" href="/video">Video</lit-a>
		</div>
		</div>
	</section>
	<section class="section">
		<h1>Сервис</h1>
		<div class="row">
		<div class="column">
			
			<lit-a class="button" href="/gpu">Graphic test</lit-a>
			<lit-a class="button" href="/logs">Logs</lit-a>
			<lit-a class="button" href="/pw">Change password</lit-a>
		</div>
		</div>
	</section>